# This project doesn't require environment variables
# All data is stored locally in the browser
# This file is for reference only

# If you add a backend API in the future, you can use:
# VITE_API_URL=http://localhost:3000/api
